:root {
  --white-color: #fff;
  --orange-color: #ff6a00;
  --orange-color--hover: #d95a00;
  --light-orange-color: #ffe9d9;
  --blue-color: #005dfe;
  --light-blue-color: #d7e5fd;
  --green-color: #28a154;
  --light-green-color: #dff1e5;
  --text-color: #333;
  --light-text-color: #757575;
  --facebook-color: #3c5a99;
  --twitter-color: #1da1f2;
  --instagram-color: #8a3ab9;
}

* {
  box-sizing: inherit;
}

html {
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
