@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

.btn-rounded {
  border-radius: 50rem;
  min-width: 184px;
  font-weight: 700;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.btn-rounded--orange {
  color: var(--white-color);
  background-color: var(--orange-color);
}
.btn-rounded--orange:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  color: var(--white-color);
  background-color: var(--orange-color--hover);
}
.btn-rounded--orange-outline {
  color: var(--orange-color) !important;
  border-color: var(--orange-color);
}
.btn-rounded--orange-outline:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  color: var(--white-color) !important;
  background-color: var(--orange-color);
}

.carousel-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--orange-color);
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.carousel-btn--medium {
  height: 80px;
  width: 80px;
}
.carousel-btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.heading {
  font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.2rem;
  font-weight: 700;
}
.heading--xsmall {
  font-size: 0.8333rem;
}
.heading--medium {
  font-size: 2rem;
}
.heading--large {
  font-size: 3.6rem;
}
@media (max-width: 991.99px) {
  .heading--large {
    font-size: 2.2rem;
  }
}
.heading--blue {
  color: var(--blue-color);
}
.heading--orange {
  color: var(--orange-color);
}
.heading--green {
  color: var(--green-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 93, 254, 0.2),
    rgba(255, 106, 0, 0.2),
    rgba(40, 161, 84, 0.2)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.header .nav-link:hover {
  color: var(--orange-color) !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.about {
  padding: 80px 0 0;
}
.about__desc {
  color: var(--light-text-color);
}
.about__book-btn {
  background-color: var(--orange-color);
}
.about__book-btn:hover {
  background-color: var(--orange-color--hover);
}

.brand {
  padding: 64px 0;
}
.brand__desc {
  color: var(--light-text-color);
  padding: 48px 0;
  text-align: center;
}
.brand__logo-img {
  -o-object-fit: contain;
  object-fit: contain;
}

.tutorial__step {
  height: 70px;
  width: 70px;
  line-height: 62px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
}
.tutorial__step--light-blue-bg {
  background-color: var(--light-blue-color);
}
.tutorial__step--light-orange-bg {
  background-color: var(--light-orange-color);
}
.tutorial__step--light-green-bg {
  background-color: var(--light-green-color);
}
.tutorial__desc {
  color: var(--light-text-color);
  text-align: center;
}
.tutorial__heading {
  padding-top: 20px;
  text-align: center;
}
.tutorial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__person-img {
  position: relative;
}
.review__person-img::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 325px;
  height: 325px;
  z-index: -1;
  background-color: var(--light-orange-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 991.99px) {
  .review__person-img {
    margin-bottom: 20px;
  }
  .review__person-img img {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 100px;
  }
  .review__person-img::before {
    display: none;
  }
}
.review__prev-btn {
  left: 8px;
}
.review__next-btn {
  right: auto;
  left: 64px;
}

.package__card {
  position: relative;
  margin-top: 15px;
  padding: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 500px;
  overflow: hidden;
}
.package__card--light-blue-bg {
  background-color: var(--light-blue-color) !important;
}
.package__card--light-orange-bg {
  background-color: var(--light-orange-color) !important;
}
.package__card--light-green-bg {
  background-color: var(--light-green-color) !important;
}
.package__card-content {
  position: relative;
  width: 100%;
  z-index: 1;
}
.package__card-deco {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../assets/img/card/card-basic-deco.png");
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
}
.package__card-deco--average {
  background-image: url("../../assets/img/card/card-average-deco.png");
}
.package__card-deco--profession {
  background-image: url("../../assets/img/card/card-profession-deco.png");
}
.package__card-title {
  color: var(--light-text-color);
}
.package__card-list {
  line-height: 2rem;
  color: var(--light-text-color);
}
.package__card-list i {
  margin-right: 8px;
}
.package__card-btn-container {
  margin: 40px 0 20px;
  text-align: center;
}

.photo__main-title {
  margin-bottom: 20px;
}
.photo__category-item .nav-link {
  color: var(--light-text-color);
  font-weight: 700;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-bottom: 0.15rem solid transparent;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.photo__category-item .nav-link:hover {
  color: var(--blue-color);
}
.photo__category-item .nav-link.active {
  background-color: transparent;
  color: var(--blue-color);
  border-bottom: 0.15rem solid var(--blue-color);
}
.photo__card {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
}
.photo .tab-pane.active {
  -webkit-animation: slide-down 0.8s ease-out;
  animation: slide-down 0.8s ease-out;
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.service__card {
  border: none;
  padding: 16px 0;
  margin-bottom: 16px;
  background-color: var(--light-blue-color);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  overflow: hidden;
}
.service__card--green {
  background-color: var(--light-green-color);
}
@media (min-width: 992px) {
  .service__card--green > div {
    flex-direction: row-reverse !important;
  }
}
@media (min-width: 992px) {
  .service__card-body {
    padding: 120px !important;
  }
}
.service__card-img {
  width: 100%;
}

.faq__desc {
  color: var(--light-text-color);
  margin-bottom: 48px;
}

.contact__card {
  position: relative;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  overflow: hidden;
}
.contact__card-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  background-image: url(../../assets/img/start/start-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.contact__card-info {
  padding: 80px 16px;
  text-align: center;
}
.contact__card-heading {
  padding-bottom: 46px;
}
.contact__form {
  height: 100%;
  border-radius: 26px;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
@media (max-width: 991.99px) {
  .contact__form {
    margin-top: 14px;
  }
}

.footer {
  padding-top: 80px;
}
.footer__title {
  font-size: 1.4rem;
}
.footer__list {
  padding: 0;
  list-style: none;
}
.footer__list a {
  color: var(--light-text-color);
  text-decoration: none;
  line-height: 2.4rem;
}
.footer__contact-info {
  display: inline-block;
  text-decoration: none;
  line-height: 2.4rem;
}
.footer__contact-info i {
  padding-right: 8px;
}
.footer__contact-info i[class*="phone"] {
  color: var(--blue-color);
}
.footer__contact-info i[class*="envelope"] {
  color: var(--orange-color);
}
.footer__contact-info i[class*="map"] {
  color: var(--green-color);
}
.footer__social {
  padding: 1.8rem 0;
  text-align: center;
  border-bottom: 0.2rem solid var(--light-text-color);
}
.footer__social-link {
  margin-right: 32px;
  font-size: 2rem;
  text-decoration: none;
}
.footer__social-link i[class*="facebook"] {
  color: var(--facebook-color);
}
.footer__social-link i[class*="twitter"] {
  color: var(--twitter-color);
}
.footer__social-link i[class*="instagram"] {
  color: var(--instagram-color);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.card {
  transition: transform 0.25s ease;
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
}

.card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  z-index: 1;
}
